@model DepartmentItemVM

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create</h6>
        <a class="btn btn-primary" asp-action="Update" asp-controller="Department">Update</a>
    </div>
</div>

<form enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input class="form-control" asp-for="Name" />
        <span class="text-warning" asp-validation-for="Name"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>