
@model RegisterVM

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="login" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="Fullname">
                                        <span class="text-warning" asp-validation-for="Fullname">Fullname</span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="Email">
                                        <span class="text-warning" asp-validation-for="Email">Email</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6 ">
                                        <input asp-for="Username">
                                        <span class="text-warning" asp-validation-for="Username">Username</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="Password">
                                        <span class="text-warning" asp-validation-for="Password">Password</span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="RePassword">
                                        <span class="text-warning" asp-validation-for="RePassword">RePassword</span>
                                    </div>
                                    <div asp-validation-summary="ModelOnly"></div>
                                </div>
                                <button class="btn btn-primary ">
                                    Register Account
                                </button>
                                <hr>
                                
                            </form>
                            <hr>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/admin/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/admin/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/admin/assets/js/sb-admin-2.min.js"></script>

</body>